*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.first-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    border: 1px solid grey;
    margin: 0 100px;
}

.second-container a{
    border-right: 1px solid gray;
    border-top: none;
    border-bottom: none;
    border-left: none;
    text-decoration: none;
    color: black;
    margin: 0 5px;
    padding-right: 5px;
}

.first-frame{
    display: flex;
    justify-content: space-around;
    margin: 40px 0 20px;
}

.second-frame {
    display: flex;
}

.bag {
    margin-right: 5px;
}
  
.bag > i:first-child{
    color: black;
    font-size: 50px;
}

.bag input{
    height: 30px;
}

.bag button{
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid black;
    background-color:  black;
    color: aliceblue;
}

.cart > i{
    color: black;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
}

#text {
    font-weight: bold;
}


.bag b{
    color: black;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px hidden black;
}

.bag p{
    color: black;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px hidden black;
    width: 200px;
}


    
ul {
    position: sticky;
    top: 0;
    z-index: 1;
    list-style-type: none;
    background-color: grey;
    margin: 5px 0px 0px 0px;
    overflow: hidden;
    width: 100%;
}

a:hover{
    background-color: black;
    border-radius: 20px;
}
    
li{
    float: left;
}
    
li #navbar{
    text-decoration: none;
    color: aliceblue;
    padding: 20px;
    text-align: center;
    display: inline-block;
}

.home {
    clear: both;
    position: relative;
    background-image: url('images/fashionable.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    height: 250px;
}

.home p{
    position: absolute;
    top: 0%;
    left: 43%;
    text-align: center;
    padding-top: 100px;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.home #link{
    position: absolute;
    top: 50%;
    left: 45%;
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

h2 {
    margin-top: 10px;
    margin-left: 600px;
    color: aliceblue;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    width: 150px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex-frame {
    display: flex;
    width: 70%;
    margin: 20px 40px 10px 40px;
}

.float {
    margin: 30px;
}

.float img{
    width: 225px;
    height: 200px;
}

.float p{
    text-align: center;
}

.text-container{
    width: 25%;
    margin-top: 40px;
    margin-left: 2px;
}


.recent {
    display: flex;
    margin-bottom: 20px;
    margin-right: 30px;
} 

.recent img{
    width: 100px;
    height: 100px;
}

.more {
    padding-left: 40px;
    margin-bottom: 20px;
}

.more a:link{
    color:  black;
}

.more a:visited{
    color:  black;
}

.more a:hover{
    color:  aliceblue;
}

.more a:active{
    color:  black;
}
.more a{
    text-decoration: none;
}

.float button{
    margin-top: 20px;
    margin-right: 20px;
}

#shop {
    border: 1px solid black;
    background-color: black;
    width: 115px;
    color: aliceblue;
    margin-top: 10px;
    margin-left: 60px;
}

.text #category{
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid gray;
    width: 200px;
    margin-left: 0px;
    margin-top: 30px;
}
  

.text #tags{
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid gray;
    width: 200px;
    margin-left: 0px;
    margin-top: 20px;
}

.text #post{
    font-weight: bold;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid gray;
    width: 200px;
    margin-left: 0px;
    margin-top: 20px;
}

#frame {
    border: 2px solid black;
    margin-left: 600px;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    background-color: white;
    
}

#frame a{
    text-decoration: none;
    border-right: 1px solid gray;
    border-top: none;
    border-bottom: none;
    border-left: none; 
    padding: 10px;
}

#frame a:link{
    color:  black;
}

#frame a:visited{
    color:  black;
}

#frame a:hover{
    color:  aliceblue;
}

#frame a:active{
    color:  black;
}

.suscribe {
    margin-left: 500px;
    margin-bottom: 40px;
}

.suscribe p{
    text-indent: 40px;
}

.suscribe input{
    margin-top: 20px;
    margin-left: 10px;
    height: 40px;
}

.suscribe b{
    border: 10px solid black;
    background-color: black;
    color: aliceblue;
}


.float-footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    background: #000000;
    clear: both;
    height: 300px;
  }

  .float-footer-content p{
    color: aliceblue;
  }
  
  #menu{
    color: aliceblue;
  }

  #links{
    color: aliceblue;
  }

  #knowledge{
    color: aliceblue;
  }

  #contact{
    color: aliceblue;
  }
  
  
  .float-footer-content{
    border: 5px hidden black;
    /* margin: 20px; */
    padding: 20px;
    width:20% ;
    margin-left: auto;
    margin-right: auto;
  }

.float-footer-content ul{
    border: 2px solid aliceblue;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    background-color: black;
    
}

.float-footer-content  ul a{
    text-decoration: none;
    border-right: 1px solid gray;
    border-top: none;
    border-bottom: none;
    border-left: none; 
    padding: 10px;
}
  
  .float-footer-content #menu{
    font-weight: bold;
    font-size: 20px;
    border: 1px hidden black;
    width: 200px;
    margin-top: 30px;
  }
  
  .float-footer-content #knowledge{
    font-weight: bold;
    font-size: 20px;
    border: 1px hidden black;
    width: 200px;
    margin-top: 30px;
  }
  
  .float-footer-content #links{
    font-weight: bold;
    font-size: 20px;
    border: 1px hidden black;
    width: 200px;
    margin-top: 30px;
  }
  
  .float-footer-content #contact{
    font-weight: bold;
    font-size: 20px;
    border: 1px hidden black;
    width: 200px;
    margin-top: 5px;
  }
  
  .float-footer-content a:link{
    color:  aliceblue;
  }
  
  .float-footer-content a:visited{
    color:  aliceblue;
  }
  
  .float-footer-content a:hover{
    color:  aliceblue;
  }
  
  .float-footer-content a:active{
    color:  aliceblue;
  }
  .float-footer-content a{
    text-decoration: none;
  }
  
@media (max-width:1024px) {
    .float-cart {
        width: 100%;
    }
    
    .cart input{
        width: 90%;
    }

    .floatt {
        width: 100%;
    }

    .float img{
        width: 65%; 
        height: 50%;
        padding-right: 0px;
    }

    .float-frame{
        width: 30%;
        flex-wrap: wrap;
    }
    
    .float-footer {
        width: 100%;
        height: 100%;
    }
    .float-footer-content {
        width: 50%;
    }
}